In [1]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [2]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [3]:
df.name.unique()

array(['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], dtype=object)

In [5]:
len(df.year.unique())

3

In [8]:
good_business = df[df['year'] >= 2013]

In [9]:
good_business

            name  reports  year
Santa Cruz  Tina       31  2013
Maricopa    Jake        2  2014
Yuma         Amy        3  2014

In [10]:
len(good_business.year.unique())

2